# just simple settings; to use in older versions of nano, comment out lines with ends with #
# place it in  ~/.config/nano/nanorc or ~/.nanorc

set atblanks # 
set boldtext
set constantshow # set const  -- for older version
#set linenumbers # controversal, constantshow better, break way to copy multiline text from terminal window
#set mouse # controlversal, disable if want to select text with mouse
set noconvert
set nohelp
set nowrap
set regexp
set smarthome
set softwrap
set tabsize 4
set wordbounds

set titlecolor brightwhite,blue
set statuscolor brightwhite,green
set selectedcolor brightwhite,magenta
set numbercolor cyan
set keycolor cyan
set functioncolor green

include "/usr/share/nano/*.nanorc" # for older version specify each file in separate line...
# include "/usr/local/Cellar/nano/*/share/nano/*.nanorc" # for mac os x -  package from brew
